<a href="https://colab.research.google.com/github/munugpm/colab/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [7]:
dataseries = {'field': [4,5,6,9]}
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

In [8]:
dataseries

{'field': [4, 5, 6, 9]}

In [10]:
purchases = pd.DataFrame(data)
series = pd.DataFrame(dataseries)

In [11]:
series

   field
0      4
1      5
2      6
3      9

In [12]:
#Add index
purchasewithindex = pd.DataFrame(data,index=['A','B','C','D'])

In [13]:
purchasewithindex

   apples  oranges
A       3        0
B       2        3
C       0        7
D       1        2

In [15]:
#So now we could locate a customer's order by using their name:

purchasewithindex.loc['B']

apples     2
oranges    3
Name: B, dtype: int64

In [22]:
#Reading data from CSVs
readingfromfile = pd.read_csv('sample_data/california_housing_test.csv')
readingfromfile_index = pd.read_csv('sample_data/california_housing_test.csv',index_col=0)

In [23]:
#!ls sample_data
readingfromfile_index.head(3)

           latitude  housing_median_age  ...  median_income  median_house_value
longitude                                ...
-122.05       37.37                27.0  ...         6.6085            344700.0
-118.30       34.26                43.0  ...         3.5990            176500.0
-117.81       33.78                27.0  ...         5.7934            270500.0

[3 rows x 8 columns]

In [24]:
readingfromfile_index.loc[-122.05]

           latitude  housing_median_age  ...  median_income  median_house_value
longitude                                ...
-122.05       37.37                27.0  ...         6.6085            344700.0
-122.05       37.36                34.0  ...         4.1369            316900.0
-122.05       38.26                21.0  ...         3.0912            126300.0
-122.05       37.05                41.0  ...         4.1679            201300.0
-122.05       37.93                15.0  ...         4.4500            184900.0
-122.05       37.31                25.0  ...         8.0727            455500.0
-122.05       37.38                24.0  ...         4.0720            364200.0

[7 rows x 8 columns]